<div class="container">
  <ul
    *ngIf="!isBusy"
    class="content mdc-image-list mdc-image-list--masonry gallery-image-list"
  >
    <li class="mdc-image-list__item" *ngFor="let album of albums">
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>{{ album?.title }}</mat-card-title>
          <!-- <button *ngIf="album?.location" mat-fab>
            D
          </button> -->
        </mat-card-header>
        <mat-card-content>
          <ul class="mdc-image-list mdc-image-list--masonry album-image-list">
            <li
              class="mdc-image-list__item"
              *ngFor="let photo of album?.photos?.slice(0, 4)"
            >
              <a
                [routerLink]="['/album', album?.id]"
                [queryParams]="{ photoId: photo?.id }"
              >
                <img
                  class="mdc-image-list__image"
                  [lazyLoad]="photo.smallImageUrl"
                />
              </a>
            </li>
          </ul>
        </mat-card-content>
        <mat-card-footer class="footer">
          <mat-card-subtitle *ngIf="album?.photos?.length">
            {{ album?.photos?.length }} photos
          </mat-card-subtitle>
        </mat-card-footer>
        <!-- <mat-card-actions>
          <button mat-button>...</button>
        </mat-card-actions> -->
      </mat-card>
    </li>
  </ul>
  <mat-spinner class="spinner" *ngIf="isBusy"></mat-spinner>
</div>
