<div class="container">
  <app-navigation-menu class="navigation-menu"></app-navigation-menu>
  <a class="logo" [routerLink]="['home']">
    <svg
      width="64"
      height="58"
      version="1.1"
      viewBox="0 0 60.565 58.099"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g transform="translate(-105.83 -55.875)">
       <text
        x="111.44966"
        y="101.19522"
        fill="#ffab40"
        font-family="Parisienne"
        font-size="50.8px"
        letter-spacing="0px"
        stroke-width=".26458"
        word-spacing="0px"
        style="line-height:1.25"
        xml:space="preserve">
         <tspan x="111.44966" y="101.19522" fill="#ffab40" stroke-width=".26458">D</tspan>
        </text>
       <rect
        x="106.97"
        y="57.016"
        width="58.282"
        height="55.816"
        fill="none"
        stroke="#ffab40"
        stroke-dasharray="54.80049952,2.28335415"
        stroke-dashoffset="9.8184"
        stroke-linejoin="round"
        stroke-miterlimit="4.8"
        stroke-width="2.2834"
        style="paint-order:normal"/>
      </g>
     </svg>
  </a>
</div>
