@import '../../../scss/variables';

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-top: 16px;
  padding-bottom: 6px;
}

@media (max-width: 518px) {
  .container {
    display: none;
  }
}

.logo {
  grid-column: 2;
}
