@import '../../../scss/variables';

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.navigation-menu {
  grid-column: 1;
}

.logo {
  display: flex;
  align-items: center;
  grid-column: 2;
}

.logo-image {
  height: 54px;
  width: 56px;
}
