@import '../../../scss/variables';

.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.navigation-menu {
  grid-column: 1;
}

.logo {
  grid-column: 1;
  padding-left: 74px;
  padding-bottom: 16px;
}
