@import '../../../scss/variables';
@import '~compass-mixins/lib/compass/css3';

$color: $theme-ancient-foreground-color;
$background-color: $theme-ancient-background-color;
$ball-size: 40px;
$menu-items: 6;
$position: absolute;
$position-left: 20px;
$position-top: 19px;

$hamburger-width: 18px;
$hamburger-height: 2px;
$hamburger-spacing: 5px;

%goo {
  filter: url('#shadowed-goo');
}
%ball {
  position: absolute;
  text-align: center;

  color: $color;
  background: $background-color;
  border-radius: 100%;
  width: $ball-size;
  height: $ball-size;
  line-height: $ball-size;

  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.menu-item {
  @extend %ball;
}

.hamburger {
  position: absolute;
  display: block;

  background: $color;

  top: 50%;
  left: 50%;
  $width: $hamburger-width;
  $height: $hamburger-height;
  width: $width;
  height: $height;
  margin-left: calc(-1 * $width / 2);
  margin-top: calc(-1 * $height / 2);

  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}

.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}

.menu {
  @extend %goo;

  position: $position;
  top: $position-top;
  left: $position-left;
  z-index: 9999;
}

.menu-item {
  &:hover {
    color: $background-color;
    background: radial-gradient(
      circle,
      rgba($color, 1) 0%,
      rgba($color, 0.8) 80%,
      rgba($color, 0) 100%
    );
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 200ms;
    }
  }
}

.menu-open-button {
  @extend %ball;

  cursor: pointer;

  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
  transform: translate3d(0, 0, 0);
}

.menu-open-button:hover {
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms + (80ms * $i);
      transform: translate3d(0, calc($ball-size * $i * 1.12), 0);
    }
  }
}

.menu-svg {
  width: $ball-size;
}
