.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: stretch;
  row-gap: 8px;
  padding-top: 8px;
  height: 100%;
}

.header {
  grid-row: 1;
}

.content {
  padding: 8px;
  grid-row: 2;
}

.footer {
  grid-row: 3;
}
