@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

$logo-font-family: 'Parisienne', 'Roboto', 'Helvetica Neue', sans-serif;
$theme-background-color: #303030;
$theme-foreground-color: #ffffff;
$theme-ancient-background-color: #ffab40;
$theme-ancient-foreground-color: #000000de;
