@import '~@fortawesome/fontawesome-free/css/all.css';

$regular-font-family: 'Roboto', 'Helvetica Neue', sans-serif;
$theme-background-color: #303030;
$theme-foreground-color: #ffffff;
$theme-ancient-background-color: #ffab40;
$theme-ancient-foreground-color: #000000de;

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $theme-background-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $theme-background-color;
  border-radius: 20px;
  border: 2px solid $theme-ancient-background-color;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: $regular-font-family;
}

* {
  box-sizing: border-box;
}
